<mat-card>
  <button mat-fab routerLink="/adres" class="mb-4 float-right" title="Adres toevoegen">
    <mat-icon>add</mat-icon>
  </button>

  <table mat-table [dataSource]="adressen" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let adres"> {{adres.id}} </td>
    </ng-container>

    <ng-container matColumnDef="straat">
      <th mat-header-cell *matHeaderCellDef> Straat </th>
      <td mat-cell *matCellDef="let adres">
        <span *ngIf="adres.isBinnenlandsAdres()">{{adres.straat}} {{adres.huisnummer}} {{adres.huisnummerToevoeging}}</span>
        <span *ngIf="!adres.isBinnenlandsAdres()">{{adres.adresRegel1}} {{adres.adresRegel2}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="postcode">
      <th mat-header-cell *matHeaderCellDef> Postcode </th>
      <td mat-cell *matCellDef="let adres"> {{adres.postCode}} </td>
    </ng-container>

    <ng-container matColumnDef="gemeente">
      <th mat-header-cell *matHeaderCellDef> Gemeente </th>
      <td mat-cell *matCellDef="let adres"> <span *ngIf="adres.isBinnenlandsAdres()">{{adres.gemeente}}</span></td>
    </ng-container>

    <ng-container matColumnDef="land">
      <th mat-header-cell *matHeaderCellDef> Land </th>
      <td mat-cell *matCellDef="let adres"> {{adres.land}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acties </th>
      <td mat-cell *matCellDef="let adres">
        <mat-icon title="Adres aanpassen" (click)="wijzigAdres(adres.id)">edit</mat-icon>
        <mat-icon title="Adres verwijderen" (click)="verwijderAdres(adres.id)">delete</mat-icon>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
