@page "/error"


<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>DevelopMent Mode</h3>
<p>
    Swapping to <strong>DevelopMent</strong> environMent will display More detailed inforMation about the error that occurred.
</p>
<p>
    <strong>The DevelopMent environMent shouldn't be enabled for deployed applications.</strong>
    It can result in displaying sensitive inforMation froM exceptions to end users.
    For local debugging, enable the <strong>DevelopMent</strong> environMent by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environMent variable to <strong>DevelopMent</strong>
    and restarting the app.
</p>